# 排除所有虚拟环境文件夹
.venv/
venv/
ENV/

# 排除 Python 缓存
__pycache__/
*.pyc

# 排除前端依赖
node_modules/

# 排除编辑器配置
.idea/
.vscode/

# 排除打包产物
dist/
build/

# 排除文档和数据文件
*.md
*.csv

# 排除本地环境变量
.env
# 排除 %SystemDrive%
%SystemDrive%/
# 排除md文件
*.md
# 排除pdf文件
*.pdf
# 排除docx文件
*.docx
# 排除doc文件
*.doc
# 排除sql
*.sql
